@import url("/assets/css/main.css");

.resource-date {
  display: block;
  margin-top: 0.25rem;
  margin-bottom: 0.15rem;
  font-size: 0.9rem;
  opacity: 0.8;
}

.resource-links {
  margin-top: .5rem;
}

.resource-links a {
  margin-right: .5rem;
}